<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
  <add name="UMCVN_BASEEntities" connectionString="data source=172.28.10.17;initial catalog=UMCVN_BASE;user id=sa;password=umc@2019;" providerName="System.Data.SqlClient"/></connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/></startup></configuration>
